*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Poppins", sans-serif;
}

.cabecario {
    background-color: #fdfdfd;
    color: rgb(0, 0, 0);
    display:flex; 
    justify-content:center;
    align-items:center;
    padding: 1px 0;
}

.logo{
    width: 55%;
}
.nomes {
    display:inline-block;
    margin: 69  16px;
    font-size: 15px;
}
.escola {
    display:inline-block;
    margin: 59 16px;
    font-size: 30px;
}
.imagem {
width: 25%;
padding: 5px 0;
}

.cole {
    background-image: linear-gradient(#fdfdfd,#fc9700);
    color: black;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px 0;
} 

.escola-div {
    width: 29%;
}
.cole-escola {
    padding: 15px 0;
}
.estudante1 {
    width: 150px;

}
.github {
    width: 32px;
}
.insta {
    width: 32px;
}
.estudante-div {
    text-align: center;
}
.pessoas {
    background-color: #fc9700;
}
.pessoas-titulo {
    text-align: center;
    padding: 5  px 0;
}
.estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 100px 0;
}
.rodape {
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.rodape-img {
height: 90px;
padding: 7px 0;
}
